<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profiel aanmaken</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/lsm3ztk.css">
    <script src="./scripts/script.js" defer></script>
</head>

<body>
    <header>
        <a href="./index.html">
            <img src="./images/back.png" alt="" href="./index.html">
            <p>terug</p>
        </a>
        <h1>profiel aanmaken</h1>
    </header>
    <main>
        <h1>hallo <%= naam %>! </h1>
        <p>laten we jouw profiel aanmaken</p>
        <form method="post" action="/complete">
            <label for="eigenschappen">wat zijn jouw slechte eigenschappen?</label>
            <input type="text" name="eigenschappen" id="eigenschappen">
            <label for="locatie">wat is jouw locatie?</label>
            <input type="text" name="locatie" id="locatie" value=<%=city %>>
            <input type="submit" value="creeër account">
        </form>
    </main>
</body>

</html>