<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingelogd</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/lsm3ztk.css">
    <script src="./scripts/script.js" defer></script>
</head>

<body>
    <header>
        <a href="./index.html">
            <img src="./images/back.png" alt="" href="./index.html">
            <p>terug</p>
        </a>
        <h1>Welkom <%= naam %> !</h1>
    </header>
</body>

</html>